# Dependencies
node_modules/

# Build output
release/
dist/
out/

# Electron / OS
*.log
npm-debug.log*
.DS_Store
Thumbs.db
desktop.ini

# Env & secrets
.env
.env.*
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temp
*.tmp
*.temp
.cache/